{% extends 'material_base.html' %}
{% block title %}Accounts{% endblock %}
{% block header %}Accounts{% endblock %}
{% block enable_logo %}{% endblock %}
{% block enable1 %}{% endblock %}
{% block enable2 %}{% endblock %}
{% block enable3 %}{% endblock %}
{% block enable_chats %}{% endblock %}
{% block enable4 %}{% endblock %}
{% block enable5 %}{% endblock %}
{% block enable6 %}{% endblock %}
{% block enable7 %}{% endblock %}
{% block enable8 %}active{% endblock %}
{% block enable9 %}{% endblock %}
{% block content %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Bank</th>
                <th>Opened</th>
                <th>Money</th>
                <th>Transfer</th>
                <th>Plan</th>
                <th>Freeze Date</th>
            </tr>
        </thead>
        <tbody>
            {% for account, freeze_date in accounts %}
            <tr>
                <td>{{ account.id }}</td>
                <td>{{ account.bank.name }} ({{account.bank.id}})</td>
                <td>{{ account.opened }}</td>
                <td>{{ account.money }}</td>
                <td>{{ account.transfer }}</td>
                <td>{{ account.plan.name }}</td>
                <td>{{ freeze_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if not is_staff %}
    <form class="outer-container" method="post">
        {% csrf_token %}
        <div class="form-container">
            <div class="container-input">
                <label for="1">Bank ID</label>
                <input type="text" id="1" name="bank" placeholder="11" />
            </div>
            <div class="container-input">
                <label for="2">Plan ID</label>
                <input type="text" id="2" name="plan" placeholder="11" />
            </div>
            <div class="container-input">
                <label for="3">Client ID</label>
                <input type="text" id="3" name="client" placeholder="11" />
            </div>
        </div>
        <div class="form-container">
            <button class="container-button" type="submit">
                Create account
            </button>
        </div>
    </form>
    {% endif %}
{% endblock %}
