{% extends 'base.html' %}
{% block title %}Accounts{% endblock %}
{% block header %}Accounts{% endblock %}
{% block content %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Bank</th>
                <th>Owner</th>
                <th>Opened</th>
                <th>Money</th>
                <th>Transfer</th>
                <th>Plan</th>
                <th>Freeze Date</th>
            </tr>
        </thead>
        <tbody>
            {% for account in accounts %}
            <tr>
                <td>{{ account.id }}</td>
                <td>{{ account.bank.name }}</td>
                <td>{{ account.owner.name }} {{ account.owner.curname }}</td>
                <td>{{ account.opened }}</td>
                <td>{{ account.money }}</td>
                <td>{{ account.transfer }}</td>
                <td>{{ account.plan.name }}</td>
                <td>{{ account.freeze_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
