{% extends 'material_base.html' %}
{% block title %}Chats{% endblock %}
{% block header %}Chats{% endblock %}
{% block enable_logo %}{% endblock %}
{% block enable1 %}{% endblock %}
{% block enable2 %}{% endblock %}
{% block enable3 %}{% endblock %}
{% block enable_chats %}active{% endblock %}
{% block enable4 %}{% endblock %}
{% block enable5 %}{% endblock %}
{% block enable6 %}{% endblock %}
{% block enable7 %}{% endblock %}
{% block enable8 %}{% endblock %}
{% block enable9 %}{% endblock %}
{% block content %}

  <div class="chats-wrapper">
    <section class="chats-discussions">
      <div class="chats-discussion chats-search">
        <div class="chats-searchbar">
          <input type="text" placeholder="Search..."></input>
          <button type="submit"><i class="fa fa-search" style="color: blue;" aria-hidden="true"></i></button>
        </div>
      </div>

      {% for sender, last, is_active in discussions %}
        <div class="chats-discussion {% if is_active %}chats-message-active{% else %}{% endif %}">
          <div class="chats-photo" style="background-image: url(https://sun9-38.userapi.com/impg/06YaBsA5s8i3dh7aLhPsEY1TeaS_qQ9JmkzWkw/qjKdUtuB3rY.jpg?size=800x800&quality=95&sign=e1f4b0faffe37006fb2b2e5450792926&type=album);"></div>
          <div class="chats-desc-contact">
            <p class="chats-name">{{ sender.name }}</p>
            <p class="chats-message">{{ last.sender.name }}: {{ last.text }}</p>
          </div>
        </div>
      {% endfor %}
    </section>

    <section class="chats-chat">
      <div class="chats-header-chat">
        <i class="chats-icon fa fa-user-o" aria-hidden="true"></i>
        <p class="chats-name">{{ other.name }}</p>
        <i class="chats-icon clickable fa fa-ellipsis-h right" aria-hidden="true"></i>
      </div>
      <div class="chats-messages-chat">
        {% for message in messages %}
          {% if message.sender == me %}
            <div class="chats-message text-only">
              <div class="chats-response">
                <p class="chats-text"> {{ message.text }} </p>
              </div>
            </div>
          {% else %}
            <div class="chats-message">
              <p class="chats-text"> {{ message.text }} </p>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <div class="chats-footer-chat">
        <i class="chats-icon fa fa-smile-o clickable" style="font-size:25pt;" aria-hidden="true"></i>
        <input type="text" class="chats-write-message" placeholder="Type your message here"></input>
        <i class="chats-icon send fa fa-paper-plane-o clickable" aria-hidden="true"></i>
      </div>
    </section>
  </div>
{% endblock %}
