{% extends 'material_base.html' %}
{% block title %}Chats{% endblock %}
{% block header %}Chats{% endblock %}
{% block enable_logo %}{% endblock %}
{% block enable1 %}{% endblock %}
{% block enable2 %}{% endblock %}
{% block enable3 %}{% endblock %}
{% block enable_chats %}active{% endblock %}
{% block enable4 %}{% endblock %}
{% block enable5 %}{% endblock %}
{% block enable6 %}{% endblock %}
{% block enable7 %}{% endblock %}
{% block enable8 %}{% endblock %}
{% block enable9 %}{% endblock %}
{% block content %}

    <div class="chats-wrapper">
      <section class="chats-discussions">
        <div class="chats-discussion chats-search">
          <div class="chats-searchbar">
            <input type="text" placeholder="Search..."></input>
            <button type="submit"><i class="fa fa-search" style="color: blue;" aria-hidden="true"></i></button>
          </div>
        </div>


        <div class="chats-discussion chats-message-active">
          <div class="chats-photo" style="background-image: url(https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);">
            
          </div>
          <div class="chats-desc-contact">
            <p class="chats-name">Megan Leib</p>
            <p class="chats-message">9 pm at the bar if possible 😳</p>
          </div>
        </div>

        <div class="chats-discussion">
          <div class="chats-photo" style="background-image: url(https://i.pinimg.com/originals/a9/26/52/a926525d966c9479c18d3b4f8e64b434.jpg);">
            
          </div>
          <div class="chats-desc-contact">
            <p class="chats-name">Dave Corlew</p>
            <p class="chats-message">Let's meet for a coffee or something today ?</p>
          </div>
        </div>

        <div class="chats-discussion">
          <div class="chats-photo" style="background-image: url(https://images.unsplash.com/photo-1497551060073-4c5ab6435f12?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80);">
          </div>
          <div class="chats-desc-contact">
            <p class="chats-name">Jerome Seiber</p>
            <p class="chats-message">I've sent you the annual report</p>
          </div>
        </div>

        <div class="chats-discussion">
          <div class="chats-photo" style="background-image: url(https://card.thomasdaubenton.com/img/photo.jpg);">
            
          </div>
          <div class="chats-desc-contact">
            <p class="chats-name">Thomas Dbtn</p>
            <p class="chats-message">See you tomorrow ! 🙂</p>
          </div>
        </div>

        <div class="chats-discussion">
          <div class="chats-photo" style="background-image: url(https://images.unsplash.com/photo-1553514029-1318c9127859?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80);">
          </div>
          <div class="chats-desc-contact">
            <p class="chats-name">Elsie Amador</p>
            <p class="chats-message">What the f**k is going on ?</p>
          </div>
        </div>

        <div class="chats-discussion">
          <div class="chats-photo" style="background-image: url(https://images.unsplash.com/photo-1541747157478-3222166cf342?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=967&q=80);">
          </div>
          <div class="chats-desc-contact">
            <p class="chats-name">Billy Southard</p>
            <p class="chats-message">Ahahah 😂</p>
          </div>
        </div>

        <div class="chats-discussion">
          <div class="chats-photo" style="background-image: url(https://images.unsplash.com/photo-1435348773030-a1d74f568bc2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80);">
            
          </div>
          <div class="chats-desc-contact">
            <p class="chats-name">Paul Walker</p>
            <p class="chats-message">You can't see me</p>
          </div>
        </div>
      </section>

      <section class="chats-chat">
        <div class="chats-header-chat">
          <i class="chats-icon fa fa-user-o" aria-hidden="true"></i>
          <p class="chats-name">Megan Leib</p>
          <i class="chats-icon clickable fa fa-ellipsis-h right" aria-hidden="true"></i>
        </div>
        <div class="chats-messages-chat">
          <div class="chats-message">
            <p class="chats-text"> Hi, how are you ? </p>
          </div>
          <div class="chats-message text-only">
            <p class="chats-text"> What are you doing tonight ? Want to go take a drink ?</p>
          </div>
          <p class="chats-time"> 14h58</p>
          <div class="chats-message text-only">
            <div class="chats-response">
              <p class="chats-text"> Hey Megan ! It's been a while 😃</p>
            </div>
          </div>
          <div class="chats-message text-only">
            <div class="chats-response">
              <p class="chats-text"> When can we meet ?</p>
            </div>
          </div>
          <p class="chats-response-time chats-time"> 15h04</p>
          <div class="chats-message">

            <p class="chats-text"> 9 pm at the bar if possible 😳</p>
          </div>
          <p class="chats-time"> 15h09</p>
        </div>
        <div class="chats-footer-chat">
          <i class="chats-icon fa fa-smile-o clickable" style="font-size:25pt;" aria-hidden="true"></i>
          <input type="text" class="chats-write-message" placeholder="Type your message here"></input>
          <i class="chats-icon send fa fa-paper-plane-o clickable" aria-hidden="true"></i>
        </div>
      </section>
    </div>
{% endblock %}
