{% extends 'material_base.html' %}
{% block title %}Chats{% endblock %}
{% block header %}Chats{% endblock %}
{% block enable_logo %}{% endblock %}
{% block enable1 %}{% endblock %}
{% block enable2 %}{% endblock %}
{% block enable3 %}{% endblock %}
{% block enable_chats %}active{% endblock %}
{% block enable4 %}{% endblock %}
{% block enable5 %}{% endblock %}
{% block enable6 %}{% endblock %}
{% block enable7 %}{% endblock %}
{% block enable8 %}{% endblock %}
{% block enable9 %}{% endblock %}
{% block content %}

{% endblock %}
